<nav>
    <div class="nav-logo">
        {{ svg('nav/rocket.svg') }}
    </div>

    <div class="nav-title">
        <span>Odyssey</span>
    </div>

    <div class="nav-general">
        <a href="/" id="selected">Accueil</a>
        <a href="/getting-started">Getting started</a>
        <a href="/credits">Crédits</a>
    </div>

    <div class="nav-separator">
        {{ svg('nav/line.svg') }}
    </div>

    <div class="nav-user">
        <!--
        <div class="nav-user-authenticated">
            <a href="/project/list">Mes projets</a>
            <a href="/project/new">Créer un projet</a>
        </div>
        -->

        <div class="nav-empty"></div>
        
        <div class="nav-user-guest nav-right">
            <a href="/user/login">Se connecter</a>
            <a href="/user/register">S'inscrire</a>
        </div>

        <!--
        <div class="nav-user-authenticated-name nav-right">
            <span class="nav-user-name">Bonjour <strong>Test{{ username }}<strong></span>
        </div>
        -->
    </div>
</nav>