<nav>
    <div class="nav-logo">
        <img src="" alt="Odyssey logo" />
        <span>Odyssey</span>
    </div>
    <div class="nav-general">
        <a href="">Accueil</a>
        <a href="">Getting started</a>
        <a href="">Crédits</a>
    </div>
    <div class="nav-user">
        <div class="nav-user-guest">
            <a href="">Se connecter</a>
            <a href="">S'inscrire</a>
        </div>
        <div class="nav-user-authenticated">
            <a href="">Mes projets</a>
            <a href="">Créer un projet</a>
        </div>
        <div class="nav-user-authenticated-name">
            <span class="nav-user-name">Bonjour {{ username }}</span>
        </div>
    </div>
</nav>