/* GENERAL */

body {
    background: rgb(191,79,79);
    background: -moz-linear-gradient(11deg, rgba(191,79,79,1) 0%, rgba(47,128,237,1) 100%);
    background: -webkit-linear-gradient(11deg, rgba(191,79,79,1) 0%, rgba(47,128,237,1) 100%);
    background: linear-gradient(11deg, rgba(191,79,79,1) 0%, rgba(47,128,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf4f4f",endColorstr="#2f80ed",GradientType=1); 
}

/* GETTING STARTED */

div.page {
    margin: 10vh 15% 10vh 15%;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 50px;
    background-color: var(--white);
}

div.page section img {
    max-width: 100%;
}

a {
    color: var(--green);
}