/* GETTING STARTED */

div.page {
    margin: 10vh 15% 10vh 15%;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 50px;
    background-color: var(--white);
}

div.page section img {
    max-width: 100%;
}

a {
    color: var(--blue);
}