{% extends 'template.html.twig' %}

{% block head %}
    <title>Crédits - Odyssey</title>
    <link rel="stylesheet" href="{{ css('credits.css') }}">
{% endblock %}

{% block content %}
    <div id="credits">
        <h1>Crédits</h1>

        <h2>Créateurs</h2>
        <ul>
            <li>Hugolin MARIETTE</li>
            <li>Simon BOUTROUILLE</li>
            <li>Abdelnor AIT ALI</li>
            <li>Amaury DENIS</li>
            <li>Zineb BRAHIMI</li>
            <li>Kamelia BRAHIMI</li>
            <li>Yuxuan SUN</li>
            <li>Thileli SACI</li>
        </ul>

        <h2>Ressources graphiques*</h2>
        <ul>
            <li>Dimitry Miroliubov</li>
            <li>Pixel perfect</li>
            <li>Freepik</li>
        </ul>
        <em>*Icônes provenant de <a href="https://www.flaticon.com/">Flaticon</a></em>
    </div>
{% endblock %}