{% extends 'template.html.twig' %}

{% block head %}
    <title>Odyssey >> Connexion</title>
    <link rel="stylesheet" href="{{ css('user.css') }}">
    <link rel="stylesheet" href="{{ css('form.css') }}">
{% endblock %}

{% block content %}
    <div class="form-card">
        <h1>Se connecter</h1>
        {{ formError(error) }}
        <form id="login" action="/user/login" method="POST">
            <label for="mail_address">Adresse mail</label><br/>
            <input id="mail_address" type="text" name="mail_address"><br/>
            <label for="password">Mot de passe</label><br/>
            <input id="password" type="password" name="password"><br/>
            <div class="button-holder">
                <input class="bg-blue" type="submit" value="Connexion">
            </div>
        </form>
    </div>
{% endblock %}
