<div class="analysis-card">
    <h2>Feedbacks</h2>

    <div class="coverages">
        <h3>Taux de couvertures</h3>
        {% for feedback in feedbacks %}
            <div>
            {% if feedback.type == "flow" %}
                <span class="strong">MCF - BPMN</span>
                <span class="coverage">{{ feedback.taux_de_couverture }}%</span>
            {% elseif feedback.type == "activity" %}
                <span class="strong">Story-map - BPMN</span>
                <span class="coverage">{{ feedback.taux_de_couverture }}%</span>
            {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="feedbacks">
    <h3>Détails</h3>
        {% for feedback in feedbacks %}
            <span class="type">
                {% if feedback.type == "flow" %}
                    MCF - BPMN
                {% elseif feedback.type == "activity" %}
                    Story-map - BPMN
                {% endif %}
                :
            </span>
            <span>{{ feedback.message|replace({'\\n': '<br>'})|raw }}</span><br>
        {% endfor %}
    </div>
</div>