{% extends 'template.html.twig' %}

{% block head %}
    <title>Erreur 404 - Odyssey</title>
{% endblock %}

{% block content %}
    <div class="page-error">
        <h1>Erreur 404 :</h1>
        <p>La page demandée n'existe pas.</p>  
    </div>
{% endblock %}
