{% extends 'template.html.twig' %}

{% block head %}
    <title>Erreur 405 - Odyssey</title>
{% endblock %}

{% block content %}
    <div class="page-error">
        <h1>Erreur 405 :</h1>
        <p>Une méthode HTTP inacceptable a été utilisée pour effectuer la demande initiale.</p>  
    </div>
{% endblock %}
