<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Hugolin Mariette">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{{ css('all.css') }}">
        <script src="{{ js('nav-lighter.js') }}"></script>
        {% if not userId is null %}
            <script src="{{ js('nav-user-card.js') }}"></script>
        {% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% embed 'components/navbar.html.twig' %}{% endembed %}

        {% block content %}{% endblock %}
    </body>
</html>